apiVersion: {{ include "deploymentversion" . }}
kind: Deployment
metadata:
  name: cilium-operator
  namespace: {{ .Release.Namespace }}
  labels:
    io.cilium/app: operator
    name: cilium-operator
spec:
  # See docs on ServerCapabilities.LeasesResourceLock in file pkg/k8s/version/version.go
  # for more details.
  replicas: 1
  selector:
    matchLabels:
      io.cilium/app: operator
      name: cilium-operator
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/configmap-cilium: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- if and .Values.global.prometheus.enabled (not .Values.global.prometheus.serviceMonitor.enabled) }}
        prometheus.io/port: {{ .Values.global.operatorPrometheus.port | quote }}
        prometheus.io/scrape: "true"
{{- end }}
      labels:
        io.cilium/app: operator
        name: cilium-operator
    spec:
      # In HA mode, cilium-operator pods must not be scheduled on the same
      # node as they will clash with each other.
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                io.cilium/app: operator
            topologyKey: kubernetes.io/hostname
      nodeSelector:
        kubernetes.io/os: linux
      securityContext:
        fsGroup: 1
        supplementalGroups:
        - 1
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
      {{- if semverCompare ">= 1.19" .Capabilities.KubeVersion.GitVersion }}
        seccompProfile:
          type: RuntimeDefault
      {{- end }}
      containers:
      - name: cilium-operator
        command:
        - cilium-operator
        args:
        - --config-dir=/tmp/cilium/config-map
        - --debug=$(CILIUM_DEBUG)
        env:
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: CILIUM_K8S_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: CILIUM_DEBUG
          valueFrom:
            configMapKeyRef:
              key: debug
              name: cilium-config
              optional: true
        {{- if .Values.global.k8sServiceHost }}
        - name: KUBERNETES_SERVICE_HOST
          value: {{ .Values.global.k8sServiceHost | quote }}
        {{- end }}
        {{- if .Values.global.k8sServicePort }}
        - name: KUBERNETES_SERVICE_PORT
          value: {{ .Values.global.k8sServicePort | quote }}
        {{- end }}
        image: {{ index .Values.global.images "cilium-operator" }}
        imagePullPolicy: {{ .Values.global.pullPolicy }}
{{- if .Values.global.prometheus.enabled }}
        ports:
        - containerPort: {{ .Values.global.operatorPrometheus.port }}
          hostPort: {{ .Values.global.operatorPrometheus.port }}
          name: prometheus
          protocol: TCP
{{- end }}
        livenessProbe:
          httpGet:
{{- if .Values.global.ipv4.enabled }}
            host: "127.0.0.1"
{{- else }}
            host: '[::1]'
{{- end }}
            path: /healthz
            port: 9234
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 3
        volumeMounts:
        - name: cilium-config-path
          mountPath: /tmp/cilium/config-map
          readOnly: true
{{- if .Values.global.etcd.enabled }}
        - name: etcd-config-path
          mountPath: /var/lib/etcd-config
          readOnly: true
{{- if or .Values.global.etcd.ssl .Values.global.etcd.managed }}
        - name: etcd-secrets
          mountPath: /var/lib/etcd-secrets
          readOnly: true
{{- end }}
{{- end }}
{{- if .Values.global.kubeConfigPath }}
        - name: kube-config
          mountPath: {{ .Values.global.kubeConfigPath }}
          readOnly: true
{{- end }}
{{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | trim | nindent 10 }}
{{- end }}
      hostNetwork: true
{{- if .Values.global.etcd.managed }}
      # In managed etcd mode, Cilium must be able to resolve the DNS name of
      # the etcd service
      dnsPolicy: ClusterFirstWithHostNet
{{- end }}
      restartPolicy: Always
      priorityClassName: system-cluster-critical
      serviceAccount: cilium-operator
      serviceAccountName: cilium-operator
      tolerations:
      - operator: Exists
      volumes:
        # To read the configuration from the config map
      - name: cilium-config-path
        configMap:
          name: cilium-config
{{- if .Values.global.etcd.enabled }}
      # To read the etcd config stored in config maps
      - configMap:
          defaultMode: 420
          items:
          - key: etcd-config
            path: etcd.config
          name: cilium-config
        name: etcd-config-path
{{- if or .Values.global.etcd.ssl .Values.global.etcd.managed }}
        # To read the k8s etcd secrets in case the user might want to use TLS
      - name: etcd-secrets
        secret:
          defaultMode: 420
          optional: true
          secretName: cilium-etcd-secrets
{{- end }}
{{- end }}
{{- if .Values.global.kubeConfigPath }}
      - hostPath:
          path: {{ .Values.global.kubeConfigPath }}
          type: FileOrCreate
        name: kube-config
{{- end }}
