image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/networking-cilium
  tag: latest
  pullPolicy: IfNotPresent

resources: {}
vpa:
  enabled: true
  resourcePolicy: {}
#    minAllowed:
#      memory: 128Mi
#    maxAllowed:
#      cpu: 4
#      memory: 10G

# imageVectorOverwrite: |
#   images:
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.0"
#     version: 1.11.x
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.1"
#     version: ">= 1.12"
#   ...

controller:
  concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  heartbeat: 
    renewIntervalSeconds: 30 
  ignoreOperationAnnotation: false

config:
  clientConnection:
    acceptContentTypes: application/json
    contentType: application/json
    qps: 100
    burst: 130

gardener:
  version: ""
  seed:
    spec:
      settings:
        topologyAwareRouting:
          enabled: false

webhookConfig:
  servicePort: 443
  serverPort: "{{ index .Values.usablePorts 1 }}"

## settings for metrics, e.g. scraping by seed-prometheus
metrics:
  enableScraping: true
  port: "{{ index .Values.usablePorts 0 }}"

healthPort: "{{ index .Values.usablePorts 2 }}"

usablePorts:
- 8080  # metrics
- 10250 # webhook server
- 8081  # healthcheck
