---
apiVersion: {{ include "rbacversion" . }}
kind: ClusterRoleBinding
metadata:
  name: hubble-ui
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hubble-ui 
subjects:
  - kind: ServiceAccount
    namespace: {{ .Release.Namespace }}
    name: hubble-ui