---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: {{ .Chart.Name }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/part-of: cilium
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      k8s-app: hubble-ui
  strategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        k8s-app: {{ .Chart.Name }}
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/part-of: cilium
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: hubble-ui
      serviceAccount: hubble-ui
      automountServiceAccountToken: true
      containers:
        - name: frontend
          image: {{ index .Values.global.images "hubble-ui" }}
          imagePullPolicy: {{ .Values.global.pullPolicy }}
          ports:
          - name: http
            containerPort: 8081
          volumeMounts:
            - name: hubble-ui-nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: nginx.conf
            - name: tmp-dir
              mountPath: /tmp
          resources:
            limits:
              cpu: 1000m
              memory: 1024Mi
            requests:
              cpu: 100m
              memory: 64Mi
          terminationMessagePolicy: FallbackToLogsOnError
        - name: backend
          image: {{ index .Values.global.images "hubble-ui-backend" }}
          imagePullPolicy: {{ .Values.global.pullPolicy }}
          env:
            - name: EVENTS_SERVER_PORT
              value: "8090"
            - name: FLOWS_API_ADDR
              value: "hubble-relay:80"
          ports:
            - name: grpc
              containerPort: 8090
          terminationMessagePolicy: FallbackToLogsOnError
          resources:
            limits:
              cpu: 1000m
              memory: 1024Mi
            requests:
              cpu: 100m
              memory: 64Mi
      nodeSelector:
        kubernetes.io/os: linux
      volumes:
      - configMap:
          defaultMode: 420
          name: hubble-ui-nginx
        name: hubble-ui-nginx-conf
      - emptyDir: {}
        name: tmp-dir
