---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gardener-extension-networking-cilium
  labels:
    app.kubernetes.io/name: gardener-extension-networking-cilium
    helm.sh/chart: gardener-extension-networking-cilium
    app.kubernetes.io/instance: {{ .Release.Name }}
rules:
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - clusters
  - dnsrecords
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - networks
  - networks/status
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  resourceNames:
  - networking-cilium-leader-election
  verbs:
  - get
  - watch
  - update
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  verbs:
  - list
  - create
  - delete
  - watch
  - patch
  - update
  - get
- apiGroups:
  - ""
  - apps
  - batch
  - rbac.authorization.k8s.io
  - admissionregistration.k8s.io
  - apiextensions.k8s.io
  - networking.k8s.io
  resources:
  - namespaces
  - events
  - secrets
  - configmaps
  - endpoints
  - deployments
  - services
  - serviceaccounts
  - clusterroles
  - clusterrolebindings
  - roles
  - rolebindings
  - jobs
  - pods
  - pods/log
  - mutatingwebhookconfigurations
  - customresourcedefinitions
  - networkpolicies
  verbs:
  - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gardener-extension-networking-cilium
  labels:
    app.kubernetes.io/name: gardener-extension-networking-cilium
    helm.sh/chart: gardener-extension-networking-cilium
    app.kubernetes.io/instance: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gardener-extension-networking-cilium
subjects:
- kind: ServiceAccount
  name: gardener-extension-networking-cilium
  namespace: {{ .Release.Namespace }}
