apiVersion: {{ include "deploymentversion" .}}
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.numReplicas }}
  selector:
    matchLabels:
      k8s-app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        k8s-app: {{ .Chart.Name }}
    spec:
      containers:
        - name: hubble-relay
          image: {{ index .Values.global.images "hubble-relay" }}
          imagePullPolicy: {{ .Values.global.pullPolicy }}
          command:
          - "hubble-relay"
          args:
          - "serve"
          ports:
          - name: grpc
            containerPort: {{ .Values.listenPort }}
          readinessProbe:
            tcpSocket:
              port: grpc
          livenessProbe:
            tcpSocket:
              port: grpc
{{- if .Values.resources }}
          resources:
{{- toYaml .Values.resources | trim | nindent 12 }}
{{- end }}
          volumeMounts:
          - name: config
            mountPath: /etc/hubble-relay
            readOnly: true
          - name: tls
            mountPath: /var/lib/hubble-relay/tls
            readOnly: true
      restartPolicy: Always
      serviceAccountName: hubble-relay
      {{- if semverCompare ">= 1.19" .Capabilities.KubeVersion.GitVersion }}
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      {{- end }}
      automountServiceAccountToken: false
      terminationGracePeriodSeconds: 1
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                k8s-app: cilium
            topologyKey: kubernetes.io/hostname
      nodeSelector:
        kubernetes.io/os: linux
      volumes:
      - name: config
        configMap:
          name: hubble-relay-config
          items:
          - key: config.yaml
            path: config.yaml
      - name: tls
        projected:
          # note: the leading zero means this number is in octal representation: do not remove it
          defaultMode: 0400
          sources:
          - secret:
              name: hubble-relay-client-certs
              items:
                - key: ca.crt
                  path: hubble-server-ca.crt
                - key: tls.crt
                  path: client.crt
                - key: tls.key
                  path: client.key
