---
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    resources.gardener.cloud/delete-on-invalid-update: "true"
  name: hubble-generate-certs
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: hubble-generate-certs
    gardener.cloud/role: system-component
spec:
  template:
    metadata:
      labels:
        k8s-app: hubble-generate-certs
    spec:
      containers:
        - name: certgen
          image: {{ index .Values.global.images "certgen" }}
          imagePullPolicy: IfNotPresent
          command:
            - "/usr/bin/cilium-certgen"
          # Because this is executed as a job, we pass the values as command
          # line args instead of via config map. This allows users to inspect
          # the values used in past runs by inspecting the completed pod.
          args:
            - "--cilium-namespace=kube-system"
            - "--ca-generate"
            - "--ca-reuse-secret"
            - "--hubble-server-cert-generate"
            - "--hubble-server-cert-common-name=*.{{ .Values.global.cluster.name }}.hubble-grpc.cilium.io"
            - "--hubble-server-cert-validity-duration=94608000s"
            - "--hubble-relay-client-cert-generate"
            - "--hubble-relay-client-cert-validity-duration=94608000s"
      hostNetwork: true
      serviceAccount: hubble-generate-certs
      serviceAccountName: hubble-generate-certs
      {{- if semverCompare ">= 1.19" .Capabilities.KubeVersion.GitVersion }}
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      {{- end }}
      restartPolicy: OnFailure
  ttlSecondsAfterFinished: 86400
